div.icon::before {
  box-sizing: content-box;
}


$selected-color: #fda;
$border-color:#eee;
$node-border-width: 1px;
$node-border-width-selected: 2px;

$node-background-color: #fff;
$node-background-hover-color: #fff;
$node-border-color: #eee;

$node-header-color: #fdfdfd;
$node-header-hover-color: #f9f9f9;

$path-color: #e8e8e8;

$input-color: #aaf;
$input-border-color: #22f;

$output-color: #afa;
$output-border-color: #2f2;

$endpoint-border-radius: 1px;

$border-radius-expanded: 0px;
$border-radius-collapsed: 0px;

$collapse-animation-duration: 0.4s;

$icon-color:#777;
$invalid-color: #f88;

$node-transitions: box-shadow 0.2s ease-in-out;

$menu-height: 100px;

.react-flow-editor {
  .node {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;

    &:hover,
    &.selected {
      box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 18px 0px;

    }
  }
}

@import "./node_modules/react-flow-editor/dist/_style.scss";

body {
  margin: 0;
}

@mixin node-type($hue) {
  border-color: hsl($hue, 100%, 91%);

  >.header {
    background-color: hsl($hue, 100%, 97%);
  }
}

.react-flow-editor-menu-item {
  display: inline-block;
}

.react-flow-editor .node,
.react-flow-editor-menu-item,
.react-flow-creating-node {
  &.collapsed>.header {
    width: 150px;
    display: inline-block;
  }

  &.invalid {
    border-color: $invalid-color !important;
    border: $node-border-width-selected solid $selected-color;
    margin: #{$node-border-width - $node-border-width-selected};
  }

  &.input {
    @include node-type(0)
  }

  &.variable {
    @include node-type(40)
  }

  &.convolution {
    @include node-type(80)
  }

  &.relu {
    @include node-type(120)
  }

  &.max-pool {
    @include node-type(160)
  }

  &.reshape {
    @include node-type(200)
  }

  &.mat-mul {
    @include node-type(240)
  }

  &.add {
    @include node-type(280)
  }

  &.output {
    @include node-type(320)
  }

  >.body {
    min-width: 190px;

    h2 {
      text-align: center;
      font-size: 21px;
      margin-top: 3px;
    }

    .node-config {
      width: 200px;

      ul {
        list-style-type: none;
        padding-left: 0;

        label {
          display: inline-block;
          width: 40%;
          text-align: right;
        }

        input,
        select {
          display: inline-block;
          width: 50%;
          margin-left: 10px;
        }
      }
    }
  }
}


.react-flow-editor {
  position: absolute;
  top: $menu-height;
  bottom: 0;
  width: 100%;

  .node {}
}

.menu {
  position: absolute;
  top: 0;
  bottom: 0;
  height: $menu-height;
}


div.icon::before {
  box-sizing: content-box;
}

svg.connections {
  path.invalid {
    stroke: $invalid-color;
  }
}
