body{
  overflow-x: hidden;
}

body>div#root>div {
  >div.game-section {
    // display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: 700px;
    padding: 20px;
    button {
      margin: 2px;
    }
  }
  >div.graph-section {
    position: absolute;
    left: 700px;
    bottom: 200px;
    top: 0px;
    right: 0px;
    >div {
      position: relative;
      left: calc(+50% - 240px);
      margin-top: 150px;
    }
  }
  >div.train {
    position: absolute;
    left: 700px;
    bottom: 000px;
    height: 200px;
    right: 0px;
  }
}
