body {
  overflow-x: hidden;
}

$game-width: 500px;
$train-height: 120px;

body>div#root>div {
  >div.game-section {
    // display: inline-block;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    width: $game-width;
    padding: 20px;

    button {
      margin: 2px;
    }
  }

  >div.graph-section {
    position: absolute;
    left: $game-width;
    bottom: $train-height;
    top: 0px;
    right: 0px;
    // padding-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px 0px;
    margin-top: 15px;
    margin-right: 10px;

    >div.workspace {
      position: relative;
      height: 100%;
    }
  }

  >div.train {
    position: absolute;
    left: $game-width;
    bottom: 000px;
    height: $train-height;
    right: 0px;
    padding: 20px;
  }
}
